body{
    background-color: lightgray;
}
.titulo-principal{
    text-align: center;
}
.contenido-principal{
    /* Medidas relativas */
    width: 90%;
    margin: 0 auto;
}
.contenido-principal .encabezado{
    background-color: gray;
    color: white;
    padding: 10px 5px;
}
.contenido-principal .contenido{
    width: 70%;
    margin: 0 auto;
}
/*  .contenido-principal article{
    width: 80%; 
    margin: 0 auto;
}  */
.contenido-principal .contenido-imagen{
float: left;
}
.contenido-texto{
    margin-left: 50px;
}
